[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
psycopg2 = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
python-dotenv = "*"
pytest = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
pytest-flask = "*"
pytest-cov = "*"
pytest-xdist = "*"

[requires]
python_version = "3.7"
